# Dependencias
node_modules/
.pnpm-store/

# Variables de entorno
.env
.env.local

# Archivos de build
dist/
build/

# OS
.DS_Store
Thumbs.db

# Python
venv/
__pycache__/
*.pyc
*.pyo

# Django

backend/staticfiles/

# Node
frontend/node_modules/
frontend/dist/

# Env
.env